<!DOCTYPE html>

<head>
    <title>hittaut.nu leaderboard</title>
    <meta http-equiv="refresh" content="{{ refresh_interval }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/css/uikit.min.css">
    <link rel="stylesheet" href="/static/leaderboard.css?hash={{ stylesheet_hash }}">
    <link rel="icon" href="https://softwareskills.se/favicon.ico">
</head>

<body>
    <div class="uk-flex uk-flex-column uk-margin-top">
        <h1 class="uk-heading-medium uk-align-center uk-text-center">hittaut.nu challenge</h1>

        <div class="uk-flex uk-flex-wrap uk-flex-around">
            <div class="uk-flex uk-flex-column">
                <div class="uk-flex uk-flex-column">
                    <h1 class="uk-heading-divider uk-align-center uk-margin-remove-bottom">Leaderboard</h1>

                    <table class="uk-table uk-table-small uk-margin-remove-bottom">
                        <thead>
                            <tr>
                                <th class="uk-text-center">Office Rank</th>
                                <th>Name</th>
                                <th class="uk-text-center" colspan="2">Checkpoints</th>
                                <th class="uk-text-center">Lag</th>
                                <th class="uk-text-center" colspan="2">GBG Rank</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for score in scores %}
                            <tr>
                                <td class="uk-text-center">{{ score.sws_rank }}</td>
                                <td>{{ contestants[score.name].full_name }}</td>
                                <td class="uk-text-center">{{ score.points }}</td>
                                <td class="uk-text-center">{{ round_number(100 * score.points / checkpoints) }}%</td>
                                <td class="uk-text-center">{{ lag[score.name] }}</td>
                                <td class="uk-text-center">{{ score.rank }}</td>
                                <td class="uk-text-center">{{ round_number(100 * score.rank / stats[0][2]) }}%</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <img class="uk-width-expand" src="/static/plot.svg?hash={{ plot_hash }}">
            </div>

            <div class="uk-flex uk-flex-column">
                <div class="uk-flex uk-flex-column">
                    <h1 class="uk-heading-divider uk-align-center uk-margin-remove-bottom">Statistics</h1>

                    <table class="uk-table uk-table-small">
                        <thead>
                            <tr>
                                <th>Statistic</th>
                                <th class="uk-text-center">Office</th>
                                <th class="uk-text-center">Public</th>
                                <th class="uk-text-center">All</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for stat in stats %}
                            <tr>
                                <td>{{ stat[0] }}</td>
                                <td class="uk-text-center">{{ stat[1] or '--' }}</td>
                                <td class="uk-text-center">{{ stat[2] or '--' }}</td>
                                <td class="uk-text-center">{{ stat[3] or '--' }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="uk-flex uk-flex-column uk-align-center uk-text-center uk-margin-remove-top">
                    {% if next_release %}
                    <div class="uk-text-large">{{ checkpoints }} checkpoints released.</div>
                    <div>New checkpoints are released on {{ next_release.strftime('%B %d') }}.</div>
                    {% else %}
                    <div class="uk-text-large">All {{ checkpoints }} checkpoints released.</div>
                    {% endif %}
                </div>

                <div class="uk-flex uk-flex-column uk-align-center uk-text-center uk-margin-remove-top">
                    <div class="uk-text-large">Join us by signing up on <a href="http://hittaut.nu">hittaut.nu</a>!</div>
                    <div>Then inform Henrik Rostedt so he can add you to the leaderboard.</div>
                </div>
            </div>
        </div>
    </div>
</body>
